<div class="row m-0 bg-primary" style="height: 100vh">
  <!-- Imagen del formulario -->
  <div class="col-6 d-flex bg-white justify-content-center align-items-center">
    <img src="./assets/images/percentages.svg" width="600px" height="600px" />
  </div>
  <!-- Formulario -->
  <div class="col-6 d-flex justify-content-center align-items-center">
    <form style="width: 400px !important" class="p-5 bg-white rounded-3" #formRegister="ngForm" (ngSubmit)="sendForm(formRegister)">
      <!-- Email -->
      <div class="mb-5">
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          name="correo"
          placeholder="Ingresa tu correo"
          aria-describedby="emailHelp"
          [(ngModel)]="loginService.login.correo"
        />
      </div>
      <!-- Contraseña -->
      <div class="mb-5">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input
          type="password"
          name="contrasena"
          class="form-control"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="loginService.login.contrasena"
        />
      </div>
      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-primary"
          style="text-transform: none"
        >
          Iniciar sesion
        </button>
      </div>
    </form>
  </div>
</div>
